* {
    box-sizing: border-box;
}

#BeHappyCover {
    width:100%;
    margin: 0;
}

nav {
    margin: 0;
    text-align: center;
    padding-left: 0;
    background-color: #8C0343;
}

.navlist {

 
    
    display: inline-block;
    width: 30%;
    font-size: 30px;
}

a:hover {
    background-color: #471533;
}

li > a {
    color: white;
    display: blocks;
}


body {
    background-color: #8C3555;
}


.left-side {
    float: left;
    width: 50%;
    text-align: justify;
    padding: 10px;
    grid-template-columns: auto;
}

footer > img {
    padding-right: 10px;
}

.lastlogo {
    padding-right: 120px;
}

form {
    border: 1px solid black;
    background-color: rgb(221, 180, 103);
    opacity: 0.9;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    border: 3px solid rgb(37, 5, 23);
    padding: 10px;
    display: block;
    border-radius: 10px;
    margin: 10px 0;
    font-size: 20px;
    width: 100%;
}


footer{
    color: white;
}