* {
    box-sizing: border-box;
}

#BeHappyCover {
    width: 100%;
    margin: 0;
}

nav {
    margin: 0;
    text-align: center;
    padding-left: 0;
    background-color: #8C0343;
}

.navlist {

 
    
    display: inline-block;
    width: 30%;
    font-size: 30px;
}

a:hover {
    background-color: #471533;
}

li > a {
    color: white;
    display: blocks;
}


body {
    background-color: #8C3555;
}


.left-side {
    float: left;
    width: 50%;
    text-align: justify;
    padding: 10px;
    grid-template-columns: auto;
}

footer > img {
    padding-right: 10px;
}

.lastlogo {
    padding-right: 120px;
}
